@model SportyWebApp.Models.EventListModel
@{var filledSeats = Model.MaxPlayers - Model.FreePlayers; }

<head>
    <link href="~/Content/pastEvents.css" rel="stylesheet" type="text/css">
    <meta charset="UTF-8">
</head>

<section class="sportCard">
    <div class="iconDiv">
        @if (Model.SportName == "Mali nogomet")
        {
            <img src="~/Images/footballBall.png" class="sportBallIcon" />
        }
        else if (Model.SportName == "Rukomet")
        {
            <img src="~/Images/handballBall.png" class="sportBallIcon" />
        }
        else if (Model.SportName == "Košarka")
        {
            <img src="~/Images/basketballBall.png" class="sportBallIcon" />
        }
        else if (Model.SportName == "Badminton")
        {
            <img src="~/Images/badmintonBall.png" class="sportBallIcon" />
        }
        else if (Model.SportName == "Tenis")
        {
            <img src="~/Images/tennisRacket.png" class="sportBallIcon" />
        }
    </div>
    <div class="descriptionDiv">
        <label id="descriptionText" style="margin-left: 0%;">
            @Model.SportName
            @Model.Location, @Model.CityName
            Broj prijavljenih igrača: @filledSeats/@Model.MaxPlayers
            @Model.StartTime
        </label>
    </div>
    <div class="buttonsDiv">
        <button class="buttonDetails btn btn-secondary" onclick="redirectToDetails(@Model.Id)">DETALJI</button>
    </div>
</section>
