@{int sportId = 1; }
@using SportyWebApp.Models

<div id="findEventsMainDiv">
    <h3 id="findEventTitle">PRETRAGA DOGAĐAJA:</h3>
    @Html.Partial("_Subscribe")
    <div class="findDiv">
        <form method="get" action="@Url.Action("Search", "Events")">
            <div class="one">
                <label class="labels">Sport:</label>
                <select id="sportSelect" name="sportId">
                    @foreach(var sport in ViewBag.AllSports)
                    {
                        <option value="@sportId">@sport.Name</option>
                        sportId = sportId + 1;
                    }
                </select>
                <br />
                <label class="labels">Datum:</label>
                <input type="date" id="datePicker" name="date" />
            </div>
            <div class="two">
                <label class="labels">Grad:</label>
                @if (ViewBag.CityEntered == false)
                {
                    <input type="text" id="cityInput" name="cityName" placeholder="Grad je obavezan za pretragu." />
                }
                else
                {
                    <input type="text" id="cityInput" name="cityName" />
                }
                <br />
                <label class="labels" id="freePlayersLabel">Broj slobodnih mjesta:</label>
                <select id="freePlayers" name="freePlayers">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <button class="buttons" id="searchButton" type="submit">TRAŽI</button>
            </div>
        </form>
    </div>
    <hr class="horizontalLine"/>
    <div id="resultsDivID" class="resultsDiv">
        @foreach (EventListModel entry in @ViewBag.SearchEvents)
        {
            @Html.Partial("_Event", entry)          
        }
    </div>
</div>



